<h1><%= @tests_passages.test.title %></h1>

<i>
  <p>
    <%= t('.question') %> №<%= @tests_passages.question_num %>/<%= @tests_passages.test.questions.count %>
  </p>
</i>

<b>
  <%= @test_passage.current_question.body %>
</b>

<%= rorm_with url: test_passage_path(@test_pasage), local: true, method: :put do |form| %>
  <%= form.colection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('.next') %></p>
<% end %>
