<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_number') %></th>
    <th><%= t('.action') %></th>
  </tr>
  <%= render @tests %>
</table>
